%h1 How to Play
%p
  %b Player One Controls:
  %br
  %i W : 
  Move paddle up
  %br
  %i S : 
  Move paddle down
%p
  %b Player Two Controls:
  %br
  %i Up Arrow : 
  Move paddle up
  %br
  %i Down Arrow : 
  Move paddle down
%button{ onClick: "window.location.href = '/'" } Return to Main Menu

