%h1 PONG
%button{ onClick: "window.location.href = '/single'" } One Player
%button{ onClick: "window.location.href = '/multi'" } Two Player
%button{ onClick: "window.location.href = '/howto'" } How to Play
